<link rel="stylesheet" th:href="@{/resources/css/baseline_plant-experiments.css}" type="text/css" />

<div class="row">
    <div class="small-12 columns">
        <h3>Browse plant experiments</h3>

        <div class="row">
            <div class="small-1 column">
                <p><img th:src="@{/resources/images/gramene_logo.png}"/></p>
            </div>

            <div class="small-11 columns">
                <p>
                    Thanks to funding from the <a href="http://www.gramene.org/">Gramene</a> project,
                    Expression Atlas contains <b th:text="${numberOfPlantExperiments}"></b>
                    <a th:href="@{/experiments(kingdom='plants')}">plant experiments</a>, studying
                    e.g.
                    <a th:href="@{/experiments?species=Arabidopsis+thaliana}">Arabidopsis</a>,
                    <a th:href="@{/experiments?species=Oryza+sativa}">rice</a>, and
                    <a th:href="@{/experiments?species=Zea+mays}">maize</a>.
                </p>
                <p>
                    The <i>baseline</i> experiments, are either RNA-seq or proteomics, and display expression levels of
                    gene products under 'normal' conditions (e.g. normal rice tissues). Each experiment is manually curated
                    to a high standard, and RNA expression levels are calculated using the
                    <a href="https://github.com/nunofonseca/irap">iRAP</a> pipeline.
                </p>
                <p>
                    The <i>differential</i> experiments in Atlas, containing both microarray and RNA-seq data, allows users
                    to query which genes are up-/down-regulatedin different experimental conditions, e.g. 'in Arabidopsis
                    shoots, what genes are upregulated in plants treated by X?'
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h3 th:if="${not #maps.isEmpty(baselineExperimentsData)}">Baseline experiments</h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
            <div class="column column-block species_item margin-top-xxlarge"
                 th:each="experimentsBySpecies : ${baselineExperimentsData.entrySet()}"
                 th:with="species=${experimentsBySpecies.getKey()},
                            nameByAccessions=${experimentsBySpecies.getValue()},
                            total=${#maps.size(nameByAccessions)}">
                <h4 th:text="${species}">Species</h4>
                <span class="icon icon-species green"
                      th:data-icon="${(speciesIconSelector.get(species) ?: speciesIconSelector.get('Default')).get('speciesIconCode')}">
                </span>
                <ul class="show_more" style="list-style:none;padding-left:0; margin-left:0;">
                        <li th:each="nameByAccession : ${nameByAccessions}"
                            th:with="accession=${nameByAccession.getKey()},displayName=${nameByAccession.getValue()}">
                            <a th:href="@{'/experiments/' + ${accession}}"
                               style="color:#337ab7; border-bottom: none;"
                                th:text="${displayName}">
                            </a>
                        </li>
                    <div th:if="${total &gt; 5}" class="show_more_buttons">
                        <button class="button small show_button"> See more…</button>
                        <button class="button small hide_button"> Hide…</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h3 th:if="${not #maps.isEmpty(numDifferentialExperimentsBySpecies)}">Differential experiments</h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
            <div class="column column-block species_item margin-top-xxlarge"
                 th:each="species : ${numDifferentialExperimentsBySpecies.keySet()}">
                <h4 th:text="${species}">Species</h4>
                <span th:class="'icon icon-species ' + ${(speciesIconSelector.get(species) ?: speciesIconSelector.get('Default')).get('speciesColorCode')}"
                      th:data-icon="${(speciesIconSelector.get(species) ?: speciesIconSelector.get('Default')).get('speciesIconCode')}">
                </span>
                <ul style="list-style:none;padding-left:0; margin-left:0;">
                    <li>
                        <a th:href="@{/experiments(species=${species},experimentType='differential')}"
                           style="color:#337ab7; border-bottom: none;"
                           th:with="numberOfExperiments=${numDifferentialExperimentsBySpecies.get(species)},
                                    pluralityPostFix=${numberOfExperiments > 1 ? 's': ''}"
                            th:text="${numberOfExperiments} + ' experiment' + ${pluralityPostFix}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        $(function() {
            var $ul = $(".species_item ul");
            $ul.find(".hide_button").hide();
            $ul.find("li:gt(4)").hide();

            var $ulShowMore = $("ul.show_more");
            $ulShowMore.find(".show_button").click(function() {
                $(this).parent().parent().find("li:gt(4)").show();
                $(this).hide();
                $(this).parent().find(".hide_button").show();
            });
            $ulShowMore.find(".hide_button").click(function() {
                $(this).parent().parent().find("li:gt(4)").hide();
                $(this).hide();
                $(this).parent().find(".show_button").show();
            });
        });
    })
</script>
